* {
  box-sizing: border-box;
}
body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

a {
  text-decoration: none; /* Removes underline */
  color: inherit; /* Inherits color from the parent element (div) */
}
.image-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 1900px;
  grid-gap: 0.5rem;
  margin: 0 auto; /* Center horizontally */
  margin-top: 0; /* Reset top margin to center vertically */
  height: 200%; /* Make sure the container takes up 100% height of the parent */
  justify-content: center; /* Center the grid items horizontally within the container */
  align-items: center; /* Center the grid items vertically within the container */
}
.text-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  font-weight: bold;
  color: white;
  text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.5);
  font-size: calc(16px + 20px);
  font-family: 'Poppins', sans-serif; /* Ensure the text appears on top of the images */
}

.text-container0 {
  position: absolute;
  top: 55%; 
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  font-weight: bold;
  color: white;
  text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.5);
  font-size: calc(16px + 20px);
  font-family: 'Poppins', sans-serif; /* Ensure the text appears on top of the images */
}

.text-container-1 {
  position: absolute;
  top: 950px; /* Adjust the distance from the top of the container */
  left: 12.5% ;
  transform: translateX(-50%);
  font-weight: bold;
  color: white;
  text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.5);
  font-size: calc(16px + 2px);
  font-family: 'Poppins', sans-serif;
}

.text-container-2 {
  position: absolute;
  top: 950px; /* Adjust the distance from the top of the container */
  left: 37.5% ;
  transform: translateX(-50%);
  font-weight: bold;
  color: white;
  text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.5);
  font-size: calc(16px + 2px);
  font-family: 'Poppins', sans-serif;
}

.text-container-3 {
  position: absolute;
  top: 950px; /* Adjust the distance from the top of the container */
  left: 62.5% ;
  transform: translateX(-50%);
  font-weight: bold;
  color: white;
  text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.5);
  font-size: calc(16px + 2px);
  font-family: 'Poppins', sans-serif;
}

.text-container-4 {
  position: absolute;
  top: 950px; /* Adjust the distance from the top of the container */
  left: 88.5% ;
  transform: translateX(-50%);
  font-weight: bold;
  color: white;
  text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.5);
  font-size: calc(16px + 2px);
  font-family: 'Poppins', sans-serif;
}
  .image-container .image {
  position: relative;
  padding-bottom: 100%;
}
.image-container .image img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  left: 0;
  position: absolute;
  top: 0;
}
.image-container .image img:nth-of-type(1) {
  filter: grayscale(1) brightness(40%);
}
.image-container .image img:nth-of-type(2) {
  -webkit-clip-path: var(--clip-start);
          clip-path: var(--clip-start);
  transition: -webkit-clip-path 0.5s;
  transition: clip-path 0.5s;
  transition: clip-path 0.5s, -webkit-clip-path 0.5s;
}
.image-container .image:hover img:nth-of-type(2) {
  -webkit-clip-path: var(--clip-end);
          clip-path: var(--clip-end);
}
.container {
  /* Container styles */
  display: block;
  /* Set display property to block to ensure elements inside it are stacked vertically */
  margin-top: 25px;
  /* Add margin-top for some space between main content and the container */
}

.image {
  position: relative;
  padding-bottom: 100%;
  overflow: hidden;
}

.image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white; /* Set the text color */
  font-size: 24px; /* Set the font size */
  font-weight: bold; /* Set the font weight */
  background: rgba(0, 0, 0, 0.7); /* Set a semi-transparent background color */
  padding: 10px 20px; /* Add some padding to the text */
  border-radius: 5px; /* Optional: add rounded corners to the text background */
}

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
}

.custom-image {
  display: block;
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 100vh; /* Set the height to 100% of the viewport height */
}

.custom-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px; /* This ensures the image covers the entire container */
}

.overlay-image {
  position: absolute;
  top: 50px; /* Adjust the top position as needed */
  left: 50%;
  transform: translateX(-50%);
  max-width: 100%; /* Set a maximum width for the overlay image */
  max-height: 80vh; /* Set a maximum height for the overlay image */
  z-index: 1; /* Place the overlay image above the background image */
  border-radius: 20px; /* Set the border radius to create rounded corners */
}

